ion-content {

    .parent {

        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        padding: 10px;
        background-image: url(../../assets/bgs/loginBg.jpg);
        //background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        .header {

            display: flex;
            justify-content: space-between;
            margin-top: 25px;

            .logo {

                color: white;
                // margin: auto;
                font-family: 'Poppins-Bold';
                font-size: 26px;

            }

            .skip {

                width: fit-content;
                font-family: "Poppins-Regular";
                font-size: 14px;
                color: black;
                padding: 10px 20px;
                border-radius: 30px;
                background: #ffffff2b;
            }

        }

        .swiperContainer {

            margin-top: auto;

        }

        .card {

            width: 100%;
            display: flex;
            flex-flow: column;
            gap: 20px;
            padding: 20px;
            background: rgb(0 0 0 / 30%);
            margin-top: auto;
            border-radius: 20px;
            backdrop-filter: blur(10px);
            font-family: 'Poppins-Regular';

            .inputContainer {

                display: flex;
                align-items: center;

                .input.withIcon {

                    padding-left: 45px;

                }

                .icon,
                ion-icon.icon {

                    position: absolute;
                    margin-left: 15px;
                    width: 20px;
                    aspect-ratio: 1;
                    color: black;

                }

            }

            .inputContainer.two {

                grid-template-columns: repeat(2, calc(50% - 10px) calc(50% - 10px));
                gap: 20px;

            }

        }

        .rememberMeContainer {

            display: flex;
            gap: 15px;
            font-family: 'Poppins-Light';
            font-size: 18px;
            align-items: center;

            .clear {
                clear: both;
            }

            .checkBox {
                display: block;
                cursor: pointer;
                width: 24px;
                height: 24px;
                border: 2px solid white;
                border-radius: 8px;
                position: relative;
                overflow: hidden;
                //box-shadow: 0px 0px 0px 2px #fff;
                font-family: 'Poppins-Regular';
            }

            .checkBox div {
                width: 60px;
                height: 60px;
                background-color: var(--ion-color-primary);
                top: -52px;
                left: -52px;
                position: absolute;
                transform: rotateZ(45deg);
                z-index: 100;
            }

            .checkBox input[type=checkbox]:checked+div {
                left: -10px;
                top: -10px;
            }

            .checkBox input[type=checkbox] {
                position: absolute;
                left: 50px;
                visibility: hidden;
            }

            .transition {
                transition: 300ms ease;
            }

        }

        .input {

            width: 100%;
            border: none;
            padding: 1rem;
            border-radius: 10px;
            background: white;
            // box-shadow: 20px 20px 60px #c5c5c5,
            //     -20px -20px 60px #ffffff;
            transition: 0.3s;
            font-family: 'Poppins-Regular';
            color: black;

        }

        .input:focus {
            outline: 2px solid var(--ion-color-primary);
            // background: #e8e8e8;
            // box-shadow: inset 20px 20px 60px #c5c5c5,
            //     inset -20px -20px 60px #ffffff;
            transition: 0.3s;
        }

        .passwordEye {

            color: black;
            margin: auto;
            margin-left: -40px;
            font-size: 20px;

        }

        .signInButton {

            --border-radius: 10px;
            --background: var(--ion-color-primary);
            --box-shadow: none;
            text-transform: capitalize;
            font-family: inherit;
            height: auto;
            font-size: 16px;

        }

        .signInButton::part(native) {

            height: 55px;

        }

        .socialLogin {

            font-family: 'Poppins-Medium';
            background: white;
            color: black;
            padding: 12px 15px;
            display: flex;
            gap: 15px;
            align-items: center;
            font-size: 18px;
            border-radius: 10px;

            img {

                width: 30px;
                height: 30px;

            }

            span {

                margin-left: -30px;
                width: 100%;

            }

        }

        .colorPrimary {

            color: var(--ion-color-primary);

        }

    }

    .forgetPasswordParent {

        display: flex;
        flex-flow: column;
        gap: 15px;
        padding: 20px;
        font-family: 'Poppins-Regular';

        .title {

            font-family: 'Poppins-SemiBold';
            font-size: 22px;

        }

        ion-input {

            font-family: inherit;

        }

        .sendMailButton {

            --box-shadow: none;
            --border-radius: 10px;
            text-transform: capitalize;
            font-family: 'Poppins-Regular';

        }

        .mailSuccess {

            display: flex;
            flex-flow: column;
            text-align: center;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin-top: 15px;
            font-size: 12px;
            color: #5fd65f;

            img {

                filter: brightness(0) saturate(100%) invert(100%) sepia(22%);

            }

            .message {}

        }

    }

}

::ng-deep {

    ion-modal .forgetPasswordParent {

        ion-input .input-wrapper .label-text-wrapper .label-text {

            line-height: 19px;

        }

    }

}