<ion-content [fullscreen]="true">

  <section class="parent">

    <div class="searchBar">

      <img class="searchIcon" src="../../../assets/iconsaxicons/outline/search-normal-1.svg" alt="">
      <input type="text" #searchInput placeholder="Search for Movie/Series" (input)="noResult = false"
        (change)="doSearch(searchInput.value, true)" [(ngModel)]="currentPrompt">
      <img class="micIcon" src="../../../assets/iconsaxicons/outline/microphone-2.svg" alt=""
        (click)="startSpeechRecognization()">

    </div>

    <ion-progress-bar class="searchProgressBar" type="indeterminate" *ngIf="isSearching"></ion-progress-bar>

    <div class="result-type-btn-container" *ngIf="searchResults && searchResults.length > 0 || noResult">

      <label class="switch btn-color-mode-switch">
        <input value="1" id="color_mode" name="color_mode" type="checkbox" (change)="handleSearchTypeChange($event)" [(ngModel)]="searchTypeToogleValue">
        <label class="btn-color-mode-switch-inner" data-off="Top results" data-on="Related results" for="color_mode"></label>
      </label>

    </div>

    <span class="searchResulText"
      *ngIf="searchResults && searchResults.length != 0 && searchResultText != '' && !noResult">{{searchResultText}}</span>

    <div class="resultsContainer">

      <movie-tile [src]="result.image" [id]="result.imdbID ? result.imdbID : result.id!" *ngFor="let result of searchResults" imgBorderRadius="6px"
        [imgObjectFit]="result.image == imageErrorAlt ? 'none' : 'cover'"
        [imgBackground]="result.image == imageErrorAlt ? 'rgb(225 225 225 / 10%)' : ''"
        >
        <!-- (click)="generalServices.openMovieDetails(result.imdbID ? result.imdbID : result.id!, navCtrl)" -->
      </movie-tile>

    </div>

    <div class="noResults" *ngIf="noResult && currentPrompt != ''">

      <span>No Result for '{{currentPrompt}}'</span>

    </div>

    <ion-infinite-scroll #infiniteScroll *ngIf="nextPage" (ionInfinite)="onIonInfinite()">
      <ion-infinite-scroll-content>

      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </section>

</ion-content>