<ion-tabs selectedIndex="0">
  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" #tabB1 [ngClass]="{'selected' : tabB1.selected}">
      <ion-img src="../../assets/iconsaxicons/outline/home-2.svg"></ion-img>
      <ion-label>Explore</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab2" #tabB2 [ngClass]="{'selected' : tabB2.selected}">
      <ion-img src="../../assets/iconsaxicons/outline/search-normal-1.svg"></ion-img>
      <ion-label>Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" #tabB3 [ngClass]="{'selected' : tabB3.selected}">
      <ion-img src="../../assets/iconsaxicons/outline/video-time.svg"></ion-img>
      <ion-label>Upcomings</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab3" #tabB4 [ngClass]="{'selected' : tabB4.selected}">
      <ion-img src="../../assets/iconsaxicons/outline/video-square.svg"></ion-img>
      <ion-label>Trailors</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
